.newTools {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25rem;
  position: relative;
}

@media screen and (max-width: 1300px){
  .newTools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.newTools__block__text {
  width: 100%;
  max-width: 46rem;
}

@media screen and (max-width: 1300px){
  .newTools__block__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65rem;
  }
}
@media screen and (max-width: 600px){
  .newTools__block__text {
    max-width: 80rem;
  }
}


.newTools__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 5.4rem;
  line-height: 1.4;
  color: white;
}

.newTools__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 3rem;
}


@media screen and (max-width: 1300px){
  .newTools__title {
    font-size: 7rem;
  }
  .newTools__text {
    text-align: center;
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px){
  .newTools__title {
    text-align: center;
    font-size: 8rem;
  }
  .newTools__text {
    text-align: center;
    font-size: 4rem;
  }
}

.newTools__button {
  width: 20rem;
  height: 6rem;
  background: #ff6e30;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 6rem;
}

@media screen and (max-width: 1300px){
  .newTools__button {
    text-align: center;
    width: 20rem;
    height: 7rem;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 600px){
  .newTools__button {
    text-align: center;
    width: 23rem;
    height: 8rem;
    font-size: 2.7rem;
  }
}

.newTools__block__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 2.5rem;
}


@media screen and (max-width: 1300px){
  .newTools__block__cards {
    row-gap: 3rem;
    column-gap: 1.5rem;
    margin-top: 20rem;
  }
}
