html {
  font-size: 0.5208333vw;
}
@media screen and (max-width: 1300px){
  html {
    font-size: 0.6208333vw;
  }
}
@media screen and (max-width: 768px){
  html {
    font-size: 0.8208333vw;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E252B;
  padding: 0 11.1rem;
  position: relative;
}

@media screen and (max-width: 768px){
  body {
    padding: 0 8rem;
  }
}

.body .footer {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
fieldset {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

ul, li {
  list-style-type: none;
}

button, input {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* add fonts */

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Poppins-Regular.woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Poppins-Medium.woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Poppins-SemiBold.woff");
}

/* swiper */

.swiper__pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10rem !important;
  column-gap: 1.3rem;
}

.swiper__pagination .swiper-pagination-bullet {
  background-color: #FF6E30;
  border-radius: 4px;
  width: 4.4rem;
  height: 1rem;
}